<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="/index.css">
    <title>FireBoltt</title>
</head>
<body>
    <div class="NavBar">
        <a href="#"><img src="/fire-boltt-wp.jpeg" alt="logo" width="150px" class="fire-boltt-logo"></a>
        <nav class="NavPages">
            <a href="/" class="mid-ele"><b>Products</b></a>
            <a href="/" class="mid-ele"><b>Deals</b></a>
            <a href="/" class="mid-ele">More</a>
            <a href="/" class="r-ele"><i class='bx bx-search'></i></a>
            <a href="/" class="r-ele"><i class='bx bx-shopping-bag'></i></a>
            <a href="/login" class="r-ele"><i class='bx bx-user' ></i></a>
        </nav>
    </div>
    <div class="product-display">
        <img src="/display-image.jpeg" alt="watches-images" width="101.2%">
    </div>
    <nav class="page-conn">
        <a href="/index.html" title="Back to the frontpage">Home</a>   
        <span class="page-conn__divider" aria-hidden="true">
            <i class='bx bx-chevron-right'></i>
        </span>
        <a href="#" title="Shows all the watch collections">Collections</a>
        <span class="page-conn__divider" aria-hidden="true">
            <i class='bx bx-chevron-right'></i>
        </span>
        <span>Smart Watches</span>
    </nav>
    <nav class="Watch-items">
        <div class="Watches">
            <a href="/">
                <img src="https://www.fireboltt.com/cdn/shop/files/luxe-edition_1024x1024.png?v=1690276328" alt="quantum-black-watch" class="items">
            </a>
        </div> 
        <div class="Watches">
            <a href="/">
                <img src="https://www.fireboltt.com/cdn/shop/files/bluetooth-calling_1024x1024.png?v=1690280196" alt="quantum-black-watch" class="items">
            </a>
        </div>
        <div class="Watches">
            <a href="/">
                <img src="https://www.fireboltt.com/cdn/shop/files/amoled-display_1024x1024.png?v=1690280196" alt="quantum-black-watch" class="items">
            </a>
        </div> 
        <div class="Watches">
            <a href="#">
                <img src="https://www.fireboltt.com/cdn/shop/files/outdoor-series_1024x1024.png?v=1690280196" alt="quantum-black-watch" class="items">
            </a>
        </div>
        <div class="Watches">
            <a href="/">
                <img src="https://www.fireboltt.com/cdn/shop/files/ninja-series_1024x1024.png?v=1690280196" alt="quantum-black-watch" class="items">
            </a>
        </div> 
    </nav>
</body>
</html>